@font-face {
  font-family: 'Montserrat-Bold.ttf';
  src: url('/FONTS/Montserrat-Bold.ttf');
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}
html{
  font-family: 'Montserrat-Bold.ttf';
}
.container {
  max-width: calc(1440px - 195px - 195px - 40px);
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;
}
#navbar{
  background-color: #FAFAFA;
  padding: 24px 0;
}

.nav-container {
  background:#FAFAFA;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 28px;
  font-weight: 700;
  color: #252B42;
  left: 20px;
}

.nav-bar ul li a {
  display: block;
  color: #737373;
  font-size: 20px;
  padding: 10px 2px;
}
.nav-bar ul{
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

#home{
  background: url(../../image/cover.svg) no-repeat center;
  background-size: cover;
  position: relative;
  
}

.infinity h1 {
  font-weight: 800;
  font-size: 58px;
  padding-top: 104px;
  line-height: 80px;
  letter-spacing: 0.2px;
  color:  #252B42;
}

.infinity p {

 font-weight: 500;
font-size: 20px;
line-height: 30px;
padding-top: 35px;
padding-bottom: 35px;
letter-spacing: 0.2px;
color: #737373;
}
.infinity{
  max-width: 50%;
}

.btn {
padding: 10px 36px;
max-width: 185px;
color: #00A0C1;
border-radius: 37px;
border: 1px solid #00A0C1 ;
}

.btn-learn {
padding: 10px 36px;  
border-radius: 37px;
color: #00A0C1;
border: 1px solid #00A0C1;
}

.btn-class{
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-bottom: 188px;
}

.btn:hover {
color: #FFFFFF;
background: #FFA62B;
border: #FFA62B;
}

.btn-learn:hover {
  color: #FFFFFF;
  background: #FFA62B;
  border: #FFA62B;
  }

.box{
  position: absolute;
  bottom: -105px;
  display: flex;
  justify-content: space-between;
  width: 63.7%;

}

.digital {
background: #FFFFFF;
box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
padding: 35px 40px;
max-width: 300px;
}

.digital h3 {
font-weight: 700;
font-size: 24px;
line-height: 32px;
letter-spacing: 0.1px;
color: #252B42;
}

.digital p {
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}

.digital:hover{
  background: #00A0C1;  
}

.digital:hover h3 {
color: #FFFFFF;
}

.digital:hover p {
  color: #FFFFFF;
}

.digital:hover path {
  fill: #FFFFFF;
}

.us{
  padding-top: calc(192px + 105px);
  text-align: center;
}

.us h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.us p {
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
} 

.man{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
background: #FFFFFF;
}

.person{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 40px;
  gap: 10px;
  width: 230px;
  height: 209px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.person h2 {
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
}

.person h5 {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  letter-spacing: 0.1px;
  color: #737373;
}

.prob{
  padding-top: calc(192px + 105px);
  text-align: center;
}

.prob h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.prob p {
max-width: 500px;
padding-bottom: 45px;
margin: 0 auto;
font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
} 

.true {
  display: flex;
  justify-content: space-between;
  


}
.twice{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px 25px;
  gap: 10px;
  width: 230px;
  height: 209px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.twice h5 {
  font-weight: 700;
font-size: 16px;
line-height: 24px;
letter-spacing: 0.1px;
color: #252B42;
}

.twice p {
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}

.service-float{
  display: flex;
  justify-content: space-between;
  gap: 120px;
}
.service-content {
  padding-top: calc(192px + 105px);
  text-align: center;
}

.service-content h2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 57px;
  letter-spacing: 0.2px;
  color: #252B42;
}

.service-content p {
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
}
.service-left{
  max-width: 60%;
}
.service-left video {
  width: 450px;
  height: 400px;
}
.service-right{
  padding-top: 59px;
}
.mono h1 {
font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
display: flex;

}

.mono p {
font-weight: 500;
font-size: 14px;
line-height: 20px;
letter-spacing: 0.2px;
color: #737373;
display: flex;

}

.fast {
  display: flex;
  flex-direction: column;
}

.service-media{
  width: 40%;
  display: inline-block;
}
.pri{
  display: flex;
  padding: 1px; 
  padding-bottom: 20px;
}

.pri-text {
  padding: 5px;
  padding-bottom: 0px;
}
.logos {

display: flex;
padding: 50px 0px;
padding-bottom: 105px;
align-items: center;
gap: 70px;
}

.parent {
  background: #16697A;
  align-items: center;
  display: flex;
  justify-content: space-between;

}
.title h3 {
  color: #FFFFFF;
  align-items: flex-start;
  padding: 40px 50px;
  height: 124px;
  border-radius: 2px;
}
.input { 
  position: relative;
display: flex;
flex-direction: row;
align-items: center;
border: 1px solid #E6E6E6;
background: #F9F9F9;
border-radius: 5px;
margin-right: 10px;

}
.input input{
  border: none;
  border-radius: 15px;
  width: 500px;
  padding: 15px 20px;
  
}
.int-btn{
  position: absolute;
  right: 0px;
}

.input button {
display: flex;
width: 117px;
padding: 15px 22.5px;
justify-content: center;
align-items: center;
border-radius: 0px 5px 5px 0px;
border: 1px solid #E6E6E6;
color: #FFFFFF;
background: var(--primary-color, #FFA62B);


}

.container-phone {
  color: #706d6d;
}

.connect {
  color: #706d6d;
  text-align: center;
  padding: 80px 
}

.connect h2 {
  font-weight: 700;
font-size: 40px;
line-height: 57px;
letter-spacing: 0.2px;
color: #252B42;
padding: 10px 100px;

}

.connect p {
  font-weight: 500;
font-size: 14px;
line-height: 20px;
text-align: center;
letter-spacing: 0.2px;
color: #737373;
}


.father {
  display: flex;
  justify-content: center;
  background: #ffffff;
  color: black;
  max-width: 100%;
  display: flex;
align-items: center;
gap: 30px;
}

.fatsen {
  display: flex;
flex-direction: column;
align-items: center;
padding: 50px 40px;
gap: 15px;
width: 328px;
height: 333px;
background: #ffffff;
border-radius: 5px;
}

.fatsen:hover {
  background: #252B42;
  color: white;
}

.fatsen button {
display: flex;
padding: 10px 20px;
flex-direction: column;
align-items: center;
gap: 10px;
border-radius: 5px;
border: 1px solid #FFA62B;
color: #FFA62B;
background: white;
}

.fatsen button:hover {
  background: #252B42;
  color: white;
  border: 1px solid white;
}

.fatsen button:hover path {
  fill: white;
} 

.container-resume {
  display: flex;
  width: 1050px;
  height: 50px;
  padding: 12px 20px;
  gap: 10px;
  flex-direction: column;
}

.container-resume input {
  border: 1px solid var(--gray-5, #E0E0E0);
  height: 50px;
  padding: 12px 40px;
  gap: 10px;
}
.container-resume textarea {
  border: 1px solid var(--gray-5, #E0E0E0);
  height: 156px;
  padding: 70px 40px;
  gap: 10px;
}

.container-resume select {
  border: 1px solid var(--gray-5, #E0E0E0);
  height: 156px;
  padding: 12px 40px;
  gap: 10px;
}

.btn-service {
  display: flex;
  justify-content: center;
  border: -1px solid #FFA62B;
}

.btn-con {
  margin: 350px;
  display: inline-flex;
  padding: 15px 40px;
  justify-content: flex-end;
  align-items: center;
  gap: 10px;
  color: white;
  background: #FFA62B;
  border-radius: 5px;
  border: 1px solid #FFA62B;
}
.container-info {
background-color: #16697A;
display: flex;
justify-content: space-between;
padding: 0 195px 37px 195px;
color: white
}

.text-nav {
  margin: ;
font-size: 14px;
font-family: Montserrat;
font-weight: 600;
line-height: 24px;
letter-spacing: 0.2px;
padding-bottom: 10px;
}

.container-net {
  padding: 15px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  color: #737373;
  display: flex;
padding: 25px 1px;
}

.net {
  display: flex;
  justify-content: space-between;
  flex-direction: row; 
}

